.bg-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://res.cloudinary.com/virgyldieulefet/image/upload/v1614163752/surf_ixvkwa.webp");
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.bg-contact h1 {
  margin-top: 50px;
}
.chat {
  color: #b3976c;
  border-bottom: 1px solid #b3976c;
  width: 150px;
}
.surf-parts {
  width: auto;
}
.surf {
  margin-top: 50px;
}
.form input {
  max-width: 100%;
  color: white !important;
}
.form textarea {
  color: white !important;
}
.form textarea {
  max-width: 100%;
}
.surf-chat {
  color: #b3976c;
}
.bg-contact input {
  background-color: transparent !important;
  margin-bottom: 10px;
  border: 1px solid white;
}

.bg-contact ::placeholder {
  color: transparent;
}

.bg-contact textarea {
  background-color: transparent !important;
  border: 1px solid white;
}

.submit-btn {
  color: white;
  height: 40px;
  &:hover {
    background-color: black !important;
    color: black;
  }
}
@media (max-width: 568px) {
  .chat {
    width: 100%;
  }
}
