// Specific CSS for your home-page
body {
  background-color: black;
  color: white;
  max-width: 100%;
  scroll-behavior: smooth;
}
.scroll-disable {
  overflow-y: hidden;
}
html {
  scroll-behavior: smooth;
  max-width: 100%;
}

@media (max-width: 568px) {
  html {
    max-width: 100% !important;
  }
}
