<div class="divid-banner d-flex justify-content-center align-items-center">
    <%= link_to root_path(anchor: "partners") do%>
            <%= image_tag 'logo', class:"logo-production" %>
    <% end %>
</div>