<nav class="hidden fixed-top">
<%= link_to "Accueil", root_path, class:"nav-item ml-5" %>
<%= link_to "Galerie", galerie_path, class:"nav-item ml-5" %>
<%= link_to "A propos", about_path, class:"nav-item ml-5" %>
<%= link_to "Contact", new_contact_path, class:"nav-item ml-5" %>
<div id="indicator"></div>
</nav>