<nav class="hidden fixed-top">
<%= link_to "Accueil", root_path, class:"nav-item ml-5" %>
<%= link_to "Galerie", href="#galery", class:"nav-item ml-5" %>
<%= link_to "A propos", href="#a-propos", class:"nav-item ml-5" %>
<%= link_to "Contact", new_contact_path, class:"nav-item ml-5" %>
<div id="indicator"></div>
</nav>