<div class="banner d-flex justify-content-center">
  <div class="logo-production">
    <%= image_tag 'logo.png', class: "logo"  %>
	<h2 class="text-center mb-2">- Divid Production -</h2>
	<h3 class="text-center">Video - Photo - Drone</h3>
  </div>
  <a class='icon-scroll' href="#"></a>
</div>
<div class="maincarousel d-flex justify-content-center">
	<div class="carousel">
		<figure>
			<img src="https://picsum.photos/600/500" alt="">
			<img src="https://picsum.photos/600/500" alt="">
			<img src="https://picsum.photos/600/500" alt="">
			<img src="https://picsum.photos/600/500" alt="">
			<img src="https://picsum.photos/600/500" alt="">
			<img src="https://picsum.photos/600/500" alt="">
			<img src="https://picsum.photos/600/500" alt="">
			<img src="https://picsum.photos/600/500" alt="">
		</figure>
		<div class="switch mt-5">
			<button class="button prev">Prev</button>
			<button class="button next">Next</button>
		</div>
	</div>
</div>
<h1 class="galery-title text-center">GALERIE</h1>
<section id="galery">
    <% @thumbnail_imgs.each do |img| %>
		<div class="project">
       <%= image_tag url_for(img.photo), class:"project__image" %>
      <div class="grid__overlay">
        <button class="viewbutton">Voir plus</button>
      </div>
    </div>
      <% end %>

    <div class="overlay">
      <div class="overlay__inner">
        <button class="close">close X</button>
        <img>
      </div>
    </div>
</section>
<section id="a-propos">
	<h1 class="galery-title text-center">À PROPOS</h1>
	<div class="container d-flex flex-column align-items-center">
		<figure class="snip0057 red hover">
			<figcaption>
				<h2>Virgyl <span>Dieulefet</span></h2>
				<h5 class="mt-1 text-center"><i class="fas fa-map-marker-alt">  </i> La Rochelle </h5>
				<h5 class="text-center">25 ans</h5>
			</figcaption>
			<div class="image"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGak5YJjdGOEw/profile-displayphoto-shrink_800_800/0/1596871376513?e=1617235200&v=beta&t=mMwlCtDtNwxPWXE6oIVVBd6SEny_ounq2kZ5GlZJ_uw" alt="sample4"/></div>
			<div class="position">Videaste - Photographe </div>
		</figure>
		<p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius voluptatibus quo nostrum deleniti obcaecati debitis alias velit dolor repellendus. Ducimus, velit repudiandae dolore voluptatum non eveniet? Rem voluptas iure quisquam esse illum? Dicta laborum doloribus porro quam nostrum, voluptatibus nihil aliquam modi corporis possimus veniam vel saepe rerum enim consectetur.</p>
	</div>
  
</section>
<div class="footer">
    <%= image_tag 'logo.png', class: "logo-footer"  %>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright my-3">
   Site web développé par <a href="https://www.alexisflipo.com" target='blank' class="dev-link">Alexis Flipo</a>
  </div>
</div>
