<div class="banner d-flex flex-column align-items-center">
    <h1 class="text-center">PORTFOLIO</h1>
    <h3 class="text-center">DIVID</h3>
    <h5 class= "text-center"> VIDÉOS & PHOTOGRAPHIES </h5>
  <a class='icon-scroll' href="#videos"></a>
</div>
<h1 class="section-icon text-center" data-aos="fade-up" data-aos-duration="1000"><i class="fas fa-video my-5"></i></h1>
<section id="videos">
 <div class="container">
    <div class="row d-flex justify-content-center">
    <% if @video_categories.present?%>
      <% @video_categories.each do |video|  %>
        <div class="card-category col-sm-12 col-md-5 col-lg-5 col-xl-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to video.name, videos_category_path(video.id), class:"category-link"  %>
        </div>
      <% end %>
    <% end%>
    </div>
  </div>
</section>
	
<h1 class="section-icon text-center" data-aos="fade-up" data-aos-duration="1000"><i class="fas fa-camera"></i></h1>
  <div class="container">
    <div class="row d-flex justify-content-center">
    <% if @photo_categories.present?%>
      <% @photo_categories.each do |photo|  %>
        <div class="card-category col-sm-12 col-md-5 col-lg-5 col-xl-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to photo.name, photos_category_path(photo.id), class:"category-link"  %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
<section id="a-propos" >
	<h1 class="section-icon text-center"><i class="fas fa-user"></i></h1>
	<div class="container d-flex flex-column align-items-center">
		<figure class="snip0057 red hover mt-5">
			<figcaption>
				<h2>Virgyl <span>Dieulefet</span></h2>
				<h5 class="mt-1 text-center"><i class="fas fa-map-marker-alt">  </i> La Rochelle </h5>
			</figcaption>
			<div class="image"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGak5YJjdGOEw/profile-displayphoto-shrink_800_800/0/1596871376513?e=1617235200&v=beta&t=mMwlCtDtNwxPWXE6oIVVBd6SEny_ounq2kZ5GlZJ_uw" alt="sample4"/></div>
			<div class="position">Videaste - Photographe </div>
		</figure>
		<p class="my-5 text-center">Passionné de vidéographie et de photos depuis mon enfance, autodidacte, fruit d'une expérience riche et variée, l'entreprise DIVID PRODUCTION vous propose des prestations de qualité pour tous types de publicité visant à enrichir l'image de votre société.
    L'esthétisme épuré de mes productions assurera une image de confiance et de professionnalisme. Exigeant dans les moindres détails, la minutie a son importance.
    Pour toute demande de devis personnalisé, veuillez me contacter via l'onglet "Contact", je me ferai un réel plaisir de vous répondre dans les plus brefs délais.</p>
    <p class="text-center mt-2 mb-3">DIVID PRODUCTION</p>
	</div>
  
</section>
<div class="footer">
    <%= image_tag 'logo.webp', class: "logo-footer text-center"  %>
  <div class="footer-links">
    <a href="https://www.instagram.com/divideomaker/" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/virgyl.dieulefet.1" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/virgyl-dieulefet-3b05651b4/" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright d-flex justify-content-center my-3">
  <p class="text-center">Site web développé par <a href="https://www.alexisflipo.com" target='blank' class="dev-link">Alexis Flipo</a> </p>
  </div>
</div>
