<div class="banner d-flex align-items-center">
  <div class="container d-flex justify-content-center ">
    <%= image_tag 'logo.png', class: "logo"  %>
  </div>
  <a class='icon-scroll' href="#"></a>
</div>
<section id="Home">
<div>

</div>

</section>
<div class="maincarousel">
<div class="carousel">
	<figure>
		<img src="https://source.unsplash.com/EbuaKnSm8Zw/800x533" alt="">
		<img src="https://source.unsplash.com/kG38b7CFzTY/800x533" alt="">
		<img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" alt="">
		<img src="https://source.unsplash.com/2lYHiNtjSwg/800x533" alt="">
		<img src="https://source.unsplash.com/CjS3QsRuxnE/800x533" alt="">
		<img src="https://source.unsplash.com/xxeAftHHq6E/800x533" alt="">
		<img src="https://source.unsplash.com/bjhrzvzZeq4/800x533" alt="">
		<img src="https://source.unsplash.com/7mUXaBBrhoA/800x533" alt="">
	</figure>
	<div class="switch">
		<button class="button prev">Prev</button>
		<button class="button next">Next</button>
	</div>
</div>
</div>