<div class="banner d-flex align-items-center">
  <div class="container">
      
  </div>
  <a class='icon-scroll' href="#"></a>
</div>
<section id="Home">
<div>

</div>

</section>
<%= link_to "Accueil", root_path %>
<%= link_to "Contact", new_contact_path %>
<%= link_to "A propos", about_path %>
<%= link_to "Galerie", galerie_path %>