<div class="banner d-flex flex-column align-items-center">
    <h1 class="text-center">PORTFOLIO</h1>
    <h3 class="text-center">DIVID</h3>
    <h5 class= "text-center"> VIDÉO IMMOBLILIÈRE . PHOTOGRAPHE </h5>
  <a class='icon-scroll' href="#"></a>
</div>
<h1 class="section-icon text-center"><i class="fas fa-video my-5"></i></h1>
<section id="videos">
  <div class="container d-flex flex-column align-items-center">
    <% @thumbnail_videos.each do |vid| %> 
      <% if vid.video.attached?%>
          <video controls src="<%=url_for(vid.video)%>" data-aos="fade-<%= vid.direction %>" data-aos-duration="3000" class="my-5"></video>
      <% end %>
    <% end %>
  </div>
</section>
	
<h1 class="section-icon text-center"><i class="fas fa-camera"></i></h1>
<section id="galery">
  <div class="container mb-5">
    <div class="row mx-1 d-flex justify-content-center">
    <% count = 0%>
      <% @thumbnail_imgs.each do |img| %>
      <% count += 1 %>
        <% if img.photo.attached?%>
       <%= image_tag img.photo, class:"photo-galery col-sm-12 col-md-3 col-lg-3 col-xl-3"%>
        <% end %>
      <% end %>
    </div>
   </div>
   
</section>
<section id="a-propos">
	<h1 class="section-icon text-center"><i class="fas fa-user"></i></h1>
	<div class="container d-flex flex-column align-items-center">
		<figure class="snip0057 red hover mt-5">
			<figcaption>
				<h2>Virgyl <span>Dieulefet</span></h2>
				<h5 class="mt-1 text-center"><i class="fas fa-map-marker-alt">  </i> La Rochelle </h5>
				<h5 class="text-center">25 ans</h5>
			</figcaption>
			<div class="image"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGak5YJjdGOEw/profile-displayphoto-shrink_800_800/0/1596871376513?e=1617235200&v=beta&t=mMwlCtDtNwxPWXE6oIVVBd6SEny_ounq2kZ5GlZJ_uw" alt="sample4"/></div>
			<div class="position">Videaste - Photographe </div>
		</figure>
		<p class="my-5 text-justify">Passionné dde vidéographie et de photos depuis mon enfance, autodidacte, fruit d'une expérience riche et variée, l'entreprise DIVID PRODUCTION vous propose des prestations de qualité pour tous types de publicité visant à enrichir l'image de votre société.
    L'esthétisme épuré de mes productions assurera une image de confiance et de professionnalisme. Exigeant dans les moindres détails, la minutie a son importance.
    Pour toute demande de devis personnalisé, veuillez me contacter via l'onglet "Contact", je me ferai un réel plaisir de vous répondre dans les plus brefs délais.
    DIVID</p>
	</div>
  
</section>
<div class="footer">
    <%= image_tag 'logo.png', class: "logo-footer"  %>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright d-flex justify-content-center my-3">
   Site web développé par <a href="https://www.alexisflipo.com" target='blank' class="dev-link">Alexis Flipo</a>
  </div>
</div>
