<div class="banner d-flex align-items-center">
  <div class="container">
      <h1 class="text-center">Bienvenue sur Virgyldieulefet.com. <strong>Venez découvrir</strong> mes <strong>réalisations</strong> !</h1> 
  </div>
  <a class='icon-scroll' href="#"></a>
</div>
<section id="presentation">


</section>
<%= link_to "Contact", new_contact_path %>