<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> <%= @contact.name %> vient de te contacter !</p>
    <p>
    Infos<br>
    --------------------------
    </p>
    <p>Nom <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    Message:<br>
    ----------
    </p>
    <p><%= @contact.message %></p>
  </body>
</html>