<h1 class="text-center mt-3">Oups un problème est survenu !</h1>
<h3 class="text-center">Veuillez réessayer ultérieurement.</h3>
<div class="d-flex justify-content-center">
    <%= image_tag 'logo.webp', class:'logo-production'%>
</div>