<h1 class="text-center mt-3"> Nous n'avons pas pu trouver cette page </h1>
<h3 class="text-center"> Vérifiez bien l'adresse de la page web</h3>
<div class="d-flex justify-content-center">
<%= image_tag 'logo.png', class:'logo-production'%>
</div>