.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://res.cloudinary.com/virgyldieulefet/image/upload/v1614628252/lanternon_nfzncg.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner p {
  font-size: 20px;
  color: #c19e6c;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.banner h1 {
  color: #c29f6d !important;
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  top: 14%;
  letter-spacing: 10px;
  margin-left: 5px;
}

.banner h3 {
  color: #f9f6e8;
  position: absolute;
  letter-spacing: 10px;
  top: 19%;
  font-size: 140px;
  margin-left: 5px;
}

.banner h5 {
  position: absolute;
  top: 40%;
  color: white;
  font-family: "Roboto";
}
.divid-banner {
  height: 150px;
  background-color: rgba(255, 255, 255, 0.945);
}
.divid-banner a:hover {
  opacity: 0.7;
}
.logo-production {
  height: 115px;
  width: 150px;
}
@media (max-width: 570px) {
  .banner h3 {
    font-size: 90px;
  }
  .banner h5 {
    top: 40%;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .banner h3 {
    font-size: 140px;
  }
  .banner h5 {
    top: 40%;
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  .banner h3 {
    font-size: 90px;
  }
}
