 <div class="container d-flex flex-column align-items-center" data-aos="fade-up" data-aos-duration="1000">
  <% if @video_category.thumbnail_videos.present? %>
    <% @video_categoru.thumbnail_videos.each do |vid| %> 
      <% if vid.video.attached?%>
          <video controls volumeslider disablePictureInPicture controlsList="nodownload" src="<%=url_for(vid.video)%>" data-aos="fade-<%= vid.direction %>" data-aos-duration="1000" data-aos-delay="500" class="my-5"></video>
      <% end %>
    <% end %>
    <% end %>
  </div>